* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', sans-serif;
}

body {
  padding: 50px;
  padding-bottom: 500px;
  background-color: hsl(0, 0%, 95%);
}

p {
  background-color: hsl(0, 0%, 40%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 1rem;
  margin: 2rem 0;
}

h1 {
  margin-bottom: 1.4rem;
}